= form_for(@project) do |f|
  - if @project.errors.any?
    #error_explanation
      %h4.mb-1
        = pluralize(@project.errors.count, 'error')
        prohibited this project from being saved:

        - @project.errors.full_messages.each do |msg|
          .alert.alert-danger{ role: 'alert' }
            %h5= msg

  .field
    .form-group
      = f.label :title
      = f.text_field :title, size: '80', class: 'form-control'

  .actions
    = f.submit 'SEND',  class: 'btn btn-primary btn-sm'
